* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}

.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoautoajuda {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    width: 400px;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border: 2px solid #444444;
    border-radius: 12px;
    width: 80%; 
    max-width: 400px;
    padding: 15px; 
    margin-top: 150px; 
    margin-bottom: 150px; 
}
    


.titulo {
    font-size: 38px;
    font-weight: 600;
    margin-top: 1%;
    text-align: center;
}

.subtitulo {
    font-size: 11.7px;
    font-weight: 600;
    color: #2F2F2F;
    text-align: center;
}

.form {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 15px;
    gap: 5px; 
}

.input-nome,
.input-email,
.input-nascimento,
.input-celular,
.input-genero,
.input-cpf,
.input-senha {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: 1.8px solid #777777;
    width: 100%; 
    height: 45px;
    padding: 8px 0 8px 15px;
}

#olho,
#olho2 {
    display: flex;
    justify-content: right;
    cursor: pointer;
    align-items: center;
    margin-top: -35px;
    margin-bottom: 15px;
    margin-right: 15px;
    color: #777777;
}

.button:hover {
    background-color: #00A3FF;
    color: white;
}

.button {
    background-color: #C2C2C2;
    color: #494949;
    width: 100%;
    height: 45px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

#seta-direita {
    margin-right: 12.5px;
    font-size: 22.5px;
}

footer {
    position: absolute;
    display: flex;
    background-color: black;
    justify-content: center;
    height: auto;
    width: 100vw;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px 0;
}

.footercontent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    box-sizing: border-box;
    font-size: larger;
}

#portologorodape {
    max-width: 100%;
    width: 200px;
    height: auto;
}

.socialicons {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

#textorodape {
    font-family: "Inter", sans-serif;
    color: white;
    justify-content: center;
}

@media (min-width: 1401px) {
    .container {
        width: 380px; 
        padding: 20px; 
    }

    .logoautoajuda {
        width: 400px;
    }
}



@media (max-width: 768px) {
    .logoautoajuda {
        width: 300px;
        margin-top: 10px;
    }

    .form {
        width: 75%;
        max-width: 300px;
        margin-top: 15px;
    }

    .input-nome,
    .input-email,
    .input-nascimento,
    .input-celular,
    .input-genero,
    .input-cpf,
    .input-senha,
    .button {
        width: 100%;
    }

    .titulo {
        margin-top: 1%;
        font-size: 40px;
    }

    .subtitulo{
        font-size: 12.4px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    .footercontent {
        flex-direction: column;
        gap: 20px;
    }

    .socialicons {
        gap: 10px;
    }
    
    .container {
        margin-bottom: 300px;
    }
}



 @media (max-width: 576px) {
    .logoautoajuda {
        width: 250px; 
        top: 10px;
    }

    .form {
        width: 80%;
        margin-top: 15px;
    }

    .input-nome,
    .input-email,
    .input-nascimento,
    .input-celular,
    .input-genero,
    .input-cpf,
    .input-senha,
    .button {
        width: 100%;
    }

    .titulo {
        margin-top: 1%;
        font-size: 38px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    .footercontent {
        flex-direction: column;
        gap: 20px;
    }

    .socialicons {
        gap: 10px;
    }
    
    .container{
        width: 70%;
        max-width: 355px;
        height: auto;
        margin-top: -50px; 
        margin-bottom: 100px;
    }
    
 }